<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={csrf_token_value()} />
    <%= live_title_tag(assigns[:page_title] || "TempMonitor") %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>
    <script src="https://kit.fontawesome.com/e8a68927c0.js" crossorigin="anonymous">
    </script>
  </head>
  <body class="bg-zinc-400">
    <div class="container mx-auto px-2 py-4 bg-gray-100 rounded-lg my-4">
      <%= @inner_content %>
    </div>
  </body>
</html>
